nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  padding-bottom: 1rem;
}
/* Logo Part Start ======>>*/
.logo a {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--primary__color);
}
.logo img {
  width: 100%;
}
.logo a p {
  margin-left: 0.5rem;
}
/* Logo Part End ======>>*/

/*Navigation Part Srat ======>>*/
ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
ul li {
  list-style: none;
  margin-left: 5rem;
}
ul li a {
  text-decoration: none;
  font-weight: 500;
  color: var(--dark__color);
  padding: 0.2rem 0.5rem;
}

ul li a:hover {
  color: var(--primary__color);
  transition: ease 0.4s;
}
/*Navigation Part End ======>>*/
.hambarger {
  display: none;
  font-size: 1.2rem;
  cursor: pointer;
}

/* Search Bar ======= */
.search__bar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search__bar input {
  width: 80%;
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid lightgray;
  margin-left: 0.5rem;
}
.search__bar input::placeholder {
  font-size: 0.9rem;
}
.search__bar input:focus {
  font-size: 0.9rem;
  outline: 0;
}

/* log in Button */
.login {
  background: var(--primary__color);
}
.login:hover {
  background: var(--secondary__color);
  transition: ease 0.4s;
}
.login a:hover {
  color: var(--dark__color);
  transition: ease 0.4s;
}
